@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Ubuntu", sans-serif;
    height: 100vh;

    @apply bg-[#121214] text-[#e1e1e6] m-0 p-0;
  }

  body > div {
    @apply flex h-full items-center justify-center;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
